In [4]:
import pandas as pd     
data=pd.DataFrame({'Name': ["Anna", "Karol","John","Alice","Kevin","Sanna", "Bob", "Alice"],
                   'Age': [35,30,57,65,25,19,20,65],
                   'Salary': [20310, 60003, 145160, 170000,30000,10310,220003,1200010],
                    'Departments':["Tech", "Tech","Tech", "Healthcare", "Operations","Operations", "Tech" ,"Tech"]})

In [6]:
#sorting values and the  order according to descending order
data_sort_values=data.sort_values(by="Salary", ascending= True)
print(data_sort_values)

    Name  Age   Salary Departments
5  Sanna   19    10310  Operations
0   Anna   35    20310        Tech
4  Kevin   25    30000  Operations
1  Karol   30    60003        Tech
2   John   57   145160        Tech
3  Alice   65   170000  Healthcare
6    Bob   20   220003        Tech
7  Alice   65  1200010        Tech

In [7]:
data_sort_values2=data.sort_values(by="Salary", ascending= False)
print(data_sort_values2)

    Name  Age   Salary Departments
7  Alice   65  1200010        Tech
6    Bob   20   220003        Tech
3  Alice   65   170000  Healthcare
2   John   57   145160        Tech
1  Karol   30    60003        Tech
4  Kevin   25    30000  Operations
0   Anna   35    20310        Tech
5  Sanna   19    10310  Operations

In [14]:
#grouping data using the pandas function groupby--done by name and others
print(data.groupby("Departments").count())
print(data.groupby("Departments")["Name"].count())#exact column of the grouping
print(data.groupby("Departments")["Salary"].mean())#Calculating average salaries
print(data.groupby("Departments")["Salary"].min())
print(data.groupby("Departments")["Salary"].max())
print(data.groupby("Departments")["Age"].mean())

             Name  Age  Salary
Departments
Healthcare      1    1       1
Operations      2    2       2
Tech            5    5       5
Departments
Healthcare    1
Operations    2
Tech          5
Name: Name, dtype: int64
Departments
Healthcare    170000.0
Operations     20155.0
Tech          329097.2
Name: Salary, dtype: float64
Departments
Healthcare    170000
Operations     10310
Tech           20310
Name: Salary, dtype: int64
Departments
Healthcare     170000
Operations      30000
Tech          1200010
Name: Salary, dtype: int64
Departments
Healthcare    65.0
Operations    22.0
Tech          41.4
Name: Age, dtype: float64

In [17]:
#Filtering in python using the [] and specify the condition and specify the threshold
#we can still add more conditions (multiple filtering)
print(data[data["Salary"]>100000])

print(data[(data["Salary"]>100000) & (data["Salary"]<200000)]) #two conditions

    Name  Age   Salary Departments
2   John   57   145160        Tech
3  Alice   65   170000  Healthcare
6    Bob   20   220003        Tech
7  Alice   65  1200010        Tech
    Name  Age  Salary Departments
2   John   57  145160        Tech
3  Alice   65  170000  Healthcare

In [18]:
#use of isin
print(data[data["Age"].isin([20,45])])

  Name  Age  Salary Departments
6  Bob   20  220003        Tech

In [1]:
import pandas as pd

data_csv = pd.read_csv('share-of-graduates-by-field-female\percent-bachelors-degrees-women-usa.csv')